@page
@model TaskScheduler_RazorProject.Pages.LaterList.IndexModel
@{
    ViewData["Title"] = "Later's Schedule";
    ViewData["ColorLater"] = "text-white";
}

@{
    var today = DateTime.Today;
}

<br />
<h1>@ViewData["Title"]</h1>
<br />

<div class="container p-3 m-3">
    <form method="post">
        @{
            var tasks = Model.Tasks.Where(_ => _.DueDate > today.AddDays(1));
        }
        @if (tasks.Count() > 0)
        {
            <ul class="list-group" style="width:500px; margin-left:15%;">
                @foreach (var item in tasks.OrderBy(_ => _.DueTime.DateTime))
                {
                <li class="list-group-item" id="border-properties" style="border-color: @item.Color; border-style: solid; border-width: thick; background-color: #E7D4C0; margin-bottom: 1.5em;">
                    <table>
                        <tr>
                            <td>
                                <h3>@Html.DisplayFor(m => item.Title)</h3>
                            </td>
                            <td>
                            </td>
                            <td>
                                @{
                                    var time = item.DueTime.DateTime.ToShortTimeString();
                                }
                                @Html.DisplayFor(m => time)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Description)
                                <br />
                            </td>

                            <td style="padding-left: 150px">
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete')" class="btn btn-danger btn-md">Delete</button>

                            </td>
                            <td style="padding-left: 15px">
                                <a asp-page="/Later/Edit" asp-route-id="@item.Id" class="btn btn-success btn-md text-white">Edit</a>
                            </td>
                        </tr>
                    </table>
                </li>
                }
            </ul>
        }
        else
        {
            <p>No tasks are due in the future.</p>
        }
    </form>
</div>